<div class="row">
  <div class="col-md-9">
    <table class="table table-striped">
      <tr><td>09:00-10:30</td> <td>Package Management, Data Processing and Visualisation</td></tr>
      <tr><td>10:30-11:00</td> <td>Morning tea break</td></tr>
      <tr><td>11:00-12:30</td> <td>Functions, Command Line Programs</td></tr>
      <tr><td>12:30-01:30</td> <td>Lunch break</td></tr>
      <tr><td>01:30-03:00</td> <td>Version Control, Vectorisation, Defensive Programming</td></tr>
      <tr><td>03:00-03:30</td> <td>Afternoon tea break</td></tr>
      <tr><td>03:30-04:30</td> <td>Data Provenance, Large Data</td></tr>
    </table>
  </div>
</div>

<p>
The complete lesson notes can be found at <a href="https://carpentries-lab.github.io/python-aos-lesson/">https://carpentries-lab.github.io/python-aos-lesson/</a>.
</p>
