<div class="row">
  <div class="col-md-9">
    <table class="table table-striped">
      <tr><td>10:00-10:30</td> <td>Let's get started</td></tr>
      <tr><td>10:30-12:30</td> <td>Package Management, Data Processing, Visualisation and Functions</td></tr>
      <tr><td>12:30-13:30</td> <td>Break</td></tr>
      <tr><td>13:30-15:30</td> <td>Command Line Programs, Defensive Programming and Large Data</td></tr>
      <tr><td>15:30-16:00</td> <td>Break</td></tr>
      <tr><td>16:00-17:00</td> <td>Downloading CMIP6 data</td></tr>
    </table>
  </div>
</div>

<p>
The complete lesson notes can be found at <a href="https://pletzer.github.io/python-aos-lesson/">https://pletzer.github.io/python-aos-lesson/</a>.
</p>
